main {
	margin-left: 72px;
	padding-left: 20px;
	padding-top: 20px;
	margin-top: 55px;
	background-color: rgb(248, 248, 248);
}


.row-of-videos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 20px;
	justify-content: space-between;
	margin-bottom: 40px;
}

.video-preview {
	display: flex;
	flex-direction: column;
	flex: 1;
	cursor: pointer;
}

.image-preview {
	position: relative;
}

.image-preview img {
	width: 100%;
	height: auto;
	
}

.video-length {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: black;
	color: white;
	border-radius: 4px;
	font-family: Roboto, Arial;
	font-size: 14px;
	padding: 4px;
	font-weight: 550;
	opacity: 0.85;
}

.video-info {
	height: auto;
	display: grid;
	grid-template-columns: 50px 1fr;
}
/*
.profile-picture {
	margin-top: 6px;
	vertical-align: top;
	display: inline-block; 
}*/

.profile-picture img {/*
	display: inline-block;*/
	width: 80%;
	border-radius: 50%;
}



.video-title {
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	margin-top: 6px;
	margin-bottom: 0;
	line-height: 22px;
	
}

.channel {
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;	
	font-weight: 400;
	line-height: 20px;
}


.video-stats {
	margin-top: 0px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 0;
}


@media (max-width: 1000px) {
	.row-of-videos {
		grid-template-columns: 1fr 1fr 1fr;
	}
}